@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/*
  Default Font Size = 1 rem = 16px  
  Search Font Size = 0.9 rem
  Search Padding = 0.2 rem 1 rem
*/

html,
body,
#root,
.app {
  width: "100%";
  height: 100%;
  font-family: "Inter", sans-serif;
}
